a{
    decoration: none;
}
i{
    margin-right: 10px;
}
.jumbotron{
    padding-top: 20%;
    color: white;
    height: 800px;
    background-image:  url("/static/images/frontpage.png");
    background-size: cover;
}
.whiteBkg{
    background-image:  url("/static/images/dark-mosaic.png");
}