a{
    decoration: none;
}
i{
    margin-right: 10px;
}
h4{
    color: white;
}
.jumbotron{
    padding-top: 20%;
    color: white;
    font-weight: 800;
    height: 800px;
    background-image:  url("/static/images/frontpage.png");
    background-size: cover;
}
.whiteBkg{
    background-image:  url("/static/images/dark-mosaic.png");
}
.categoryHeader{
    background-image:  url("/static/images/categorys.png");
}
main{
    margin-top: 80px;
}