{% extends 'base.html' %}
{% load static %}

{% block header%}

{% for product in products %}
<!-- Product Modal -->
<div id="productModal{{product.id}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3 class="modal-title">{{product.name}}</h3>
            </div>
            <div class="modal-body">
                <img class="thumb" height="260" width="260" src="{{ MEDIA_URL }}{{ product.image }}">
                <p>{{product.description}}</p>
                <h5>Price:  €{{product.price}} </h5>
                <form method="post" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                    <div class="input-group">
                        
                        <span class="input-group-addon"><i class="fa fa-shopping-bag" aria-hidden="true"></i>Quantity</span>
                        <input class="form-control" name='quantity' type="number" min="1" max="999" value="1">
                    </div>
                    <br>
                <button class="btn btn-success btn-sm" type="submit"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Add To Cart</button>
            </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
      </div>
{% endfor %}

<div class="categoryHeader">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4>Categories:</h4>
                <h4><small> Please choose a category below to search for your next gizmo!</small></h4>
        </div>
    </div>
</div>
{% endblock%}


{% block sidebar %}
<h3> Select<small> category</small></h3>
<hr>
<div class="categorySelection">
    <ul>
        {% for category in subcategories %}
        <li class="category-name"><a href="{% url 'category' category.id %}">{{ category.name }}</a></li>
        <hr>
        {% endfor %}
    </ul>
    {% for category in root_categories %}
        <div class="category-name breadcrumb">
            <a href="{% url 'category' category.id %}"><h5>{{ category.name }}</h5></a>
        </div>  
    {% endfor %}

    <hr>

    
</div>
{% endblock sidebar %}



{% block content %}
    <ol class="breadcrumb">
        {% for crumb in crumbs %}
            {% if forloop.last %}
                <li class="active">{{ crumb.name }}</li>
            {% else %}
                <li><a href="{% url 'category' crumb.id %}">{{ crumb.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ol>

    

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Buy</th>
            <th>Cart</th>
        </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td ><a data-target="#productModal{{product.id}}" role="button" data-toggle="modal" title="Click to View"><img class="thumb" height="100" width="100" src="{{ MEDIA_URL }}{{ product.image }}"></a></td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>€{{ product.price }}</td>
                <td><a href="{% url 'buy_now_stripe' product.id %}" )>Buy Now</a> </td>                    
                <td>
                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-shopping-bag" aria-hidden="true"></i></span>
                            <input class="form-control" name='quantity' type="number" min="1" max="999" value="1">
                        </div>
                        <br>
                        <button class="btn btn-success btn-sm" type="submit"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Add To Cart</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}