{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block head_js %}
    <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
    <script type="text/javascript">
        //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
        //]]>
    </script>
    <script type="text/javascript" src="{% static "js/stripe.js" %}"></script>
{% endblock %}

{% block content %}
    <h2>Success!</h2>
    <p>You are logged in as {{ user.email }} </p>
    <button onclick="location.href='{% url 'products' %}';" class="btn btn-warning"><i class="fa fa-shopping-bag" aria-hidden="true"></i>Let's go shop!</button>
    
{% endblock %}