{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block head_js %}
    <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
    <script type="text/javascript">
        //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
        //]]>
    </script>
    <script type="text/javascript" src="{% static "js/stripe.js" %}"></script>
{% endblock %}

{% block content %}
    <h2>Success!</h2>
    <p>You are logged in as {{ user.email }} </p>
    <p>Your stripe id is {{ user.profile.stripe_id }} </p>
    <h2>Subscription Details</h2>





    <script type="text/javascript">
        function cancelSubscriptionCheck() {
            if (confirm('Are you sure you want to cancel?')) {
                return true;
            }
            return false;
        }
    </script>
{% endblock %}